body {
  margin: 0;
  font-family: 'News Cycle', sans-serif;
}

.loading-container {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.almost-there {
  height: 100%;
}

.App {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 12% 15% 72%;
  overflow: hidden;
  background-image: url('../../Assets/Images/stars.png');
}
