.neon {
  transition: 0.4s;
  color: #fff;
  box-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

.neon:hover {
  transition: 0.4s;
  box-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #c600ff,
    0 0 80px #c600ff,
    0 0 90px #c600ff,
    0 0 100px #c600ff,
    0 0 150px #c600ff;
}

.card {
  background-color: #363636;
  height: 430px;
  width: 300px;
  margin: 0 110px 110px 0;
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 1fr;
  border-radius: 4px;
  overflow: none;
  border: 2px solid grey;
}

.card-header {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: space-between;
  grid-template-rows: 1fr;
  grid-template-columns: 70% 30%;
  vertical-align: middle;
  background-color: #a2a2a2;
  border-bottom: 1px white dotted;
  margin-bottom: 20px;
  padding-left: 25px;
}

svg:hover {
  fill: white;
}

.card-title {
  font-family: 'Crete Round', serif;
  color: #124E78;
  margin: 0px 5px 5px 0px;
  height: 100%;
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;

}

.card-favorite-button {
  transition: 0.2s;
  grid-area: 1 / 2 / 2 / 3;
  height: 100%;
  width: 60px;
  vertical-align: middle;
  border: none;
  padding: 0;
  background-color: #a2a2a2;
  margin-right: 15px;
  background-image: url('../../Assets/Images/rebel-symbol-white.svg');
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.card-favorite-button:hover {
  transition: 0.2s;
  background-image: url('../../Assets/Images/rebel-symbol-red.svg');
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: contain;*/
}

.favorite-icon {
  height: 60%;
}

.favorite {
  transition: 0.4s;
  box-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #f00,
    0 0 80px #f00,
    0 0 90px #f00,
    0 0 100px #f00,
    0 0 150px #f00;
}

.favorite .card-favorite-button{
  background-image: url('../../Assets/Images/rebel-symbol-red.svg');
}

.favorite .card-favorite-button:hover {
  background-image: url('../../Assets/Images/rebel-symbol-white.svg');
}

.card-list {
  grid-area: 2 / 1 / 3 / 3;
  margin: 10px 10px 0 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-list-item {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.5;
  margin-right: 10px;
}

.ghost {
  background-color: red;
}
